/* CSS for layout */
.layout {
    display: flex;
    min-height: 100vh;
}

/* Sidebar styling */
.sidebar {
    width: 256px;
    background-color: #f4f4f4;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50; 
    overflow-y: auto;
  }
.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 200px; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.main-content {
    margin-left: 256px;
    margin-top: 60px; 
    padding: 20px;
    flex-grow: 1;
    min-height: calc(100vh - 60px); 
    overflow-y: auto;
  }

/* Footer styling */
footer {
    height: auto;
    background-color: #007a33;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
  }
  

  @media (max-width: 768px) {
    .sidebar {
      width: 64px; /* Collapses the sidebar */
    }
    .main-content {
      margin-left: 64px; /* Adjusts main content for smaller sidebar */
    }
  }
  
  @media (max-width: 480px) {
    .sidebar {
      width: 0;
      display: none; /* Hides sidebar for very small screens */
    }
    .main-content {
      margin-left: 0; /* Main content takes full width */
    }
  }
  
