/* src/components/Settings.css */
form {
    display: flex;
    flex-direction: column;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }
  
  button {
    width: 100px;
    padding: 5px;
  }
  
  