/* src/components/ReportsPage/ReportsPage.css */

.reports-page {
    padding: 20px;
    font-family: 'Deloitte', sans-serif;
  }
  
  .summary-tiles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .summary-tile {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .summary-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .summary-tile h2 {
    font-size: 1.2rem;
    color: #002776;
    margin-bottom: 10px;
  }
  
  .summary-tile p {
    font-size: 2rem;
    color: #007a33;
    font-weight: bold;
  }
  
  .tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .tile {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: 300px;
  }
  
  .tile:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  
  .tile p {
    font-size: 1rem;
    color: #666;
  }
  
  .progress-bar {
    background-color: #e6e6e6;
    border-radius: 8px;
    overflow: hidden;
    height: 20px;
    margin-top: 10px;
  }
  
  .progress {
    background-color: #007a33; /* Deloitte green */
    height: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: width 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  
  .task-tile {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
  }
  
  .task-tile h3 {
    font-size: 1.2rem;
    color: #007a33;
  }
  
  .task-tile p {
    font-size: 0.9rem;
    color: #333;
  }
  
  .notification {
    background-color: #ffe066;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  /* src/components/ReportsPage/ReportsPage.css */

.reports-page {
    padding: 20px;
    font-family: 'Deloitte', sans-serif;
  }
  
  .reports-h1 {
    color: #007a33;
    font-size: 1.8rem;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .reports-h2 {
    color: #000000;
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .reports-link {
    text-decoration: none;
    color: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }