/* Register Page Styling */
.bg-deloitte-white {
  background-color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-deloitte-dark-green {
  color: #006747;
}

.bg-register-bg {
  background-image: url("bhttps://t3.ftcdn.net/jpg/06/25/04/76/240_F_625047601_ReYKPGWinavuApgcPK2AIlJFgpSvHx46.jpghttps://t3.ftcdn.net/jpg/01/55/02/52/240_F_155025278_kKh2aVZjRVBNmMt6NM500kPumCfUZYRA.jpg");
  background-size: cover;
  background-position: center;
}

/* Dark Mode */
body.dark-mode .bg-deloitte-white {
  background-color: var(--background-color);
  color: var(--text-color);
}
