.projects-page {
  padding: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.project-list-item {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-bottom: 10px;
}

.project-list-item:hover {
  background-color: #f1f1f1;
}

/* Dark Mode */
.project-list-item,
.project-header {
  background-color: var(--tile-background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.project-header:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
