/* Ensure full height for html and body */
html,
body {
  height: 100%;
  margin: 0;
}

/* Main container that wraps the content and footer */
.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 64px;
  min-height: calc(100vh - 64px); /* Assuming header height is 64px */
    overflow-y: auto;
}

/* Content should expand to fill the available space */
.content {
  flex: 1;
}



/* Footer styling */
footer {
  background-color: #0a643b; /* Deloitte dark green */
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative; /* Or leave as static */
  bottom: 0;
  width: 100%;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .bg-white {
  background-color: #1e1e1e;
}

.dark-mode .text-white-500 {
  color: #ffffff;
}
