@tailwind base;
@tailwind components;
@tailwind utilities;

/* Deloitte Colors */
.bg-deloitte-blue {
  background-color: #002776;
}
.text-deloitte-blue {
  color: #002776;
}
.bg-deloitte-green {
  background-color: #92d400;
}
.text-deloitte-green {
  color: #92d400;
}
.bg-deloitte-cyan {
  background-color: #00a1de;
}
.text-deloitte-cyan {
  color: #00a1de;
}
.text-deloitte-black {
  color: #000000;
}
.text-deloitte-white {
  color: #ffffff;
}

/* Navbar Sticky */
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 50;
}

/* Sidebar */
.sidebar {
  width: 12rem;
}
.sidebar-collapsed {
  width: 4rem;
}
.content-wrapper {
  margin-left: 12rem;
}

@media (max-width: 768px) {
  .sidebar {
    width: 4rem;
  }
  .content-wrapper {
    margin-left: 4rem;
  }
}

/* Light Mode */
body.light-mode {
  --input-text-color: #000000;
  --background-color: #ffffff;
  --text-color: #1a202c;
  --tile-background-color: #ffffff; 
  --tile-border-color: #ddd; 
  --button-background-color: #007A33;
  --button-background-color-hover: #005a24;
}

body.light-mode input, 
body.light-mode select, 
body.light-mode textarea {
  background-color: var(--tile-background-color);
  color: var(--input-text-color);
}

/* Dark Mode */
body.dark-mode {
  --input-text-color: #000000; /* Black text for inputs in dark mode */
  --background-color: #1a202c;
  --text-color: #f7fafc;
  --tile-background-color: #2d3748;
  --tile-border-color: #4a5568;
  --button-background-color: #007A33;
  --button-background-color-hover: #005a24;
}

body.dark-mode input, 
body.dark-mode select, 
body.dark-mode textarea {
  background-color: var(--tile-background-color);
  color: var(--input-text-color); /* Black text in dark mode */
}
