/* src/styles/tailwind.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Deloitte Colors */
/* Blue */
.bg-deloitte-blue {
  background-color: #002776;
}

.text-deloitte-blue {
  color: #002776;
}

/* Green */
.bg-deloitte-green {
  background-color: #92d400;
}

.text-deloitte-green {
  color: #92d400;
}

/* Cyan */
.bg-deloitte-cyan {
  background-color: #00a1de;
}

.text-deloitte-cyan {
  color: #00a1de;
}

/* Black */
.text-deloitte-black {
  color: #000000;
}

/* White */
.text-deloitte-white {
  color: #ffffff;
}

/* Navbar Sticky */
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 50;
}

/* Sidebar */
.sidebar {
  width: 12rem;
}

.sidebar-collapsed {
  width: 4rem;
}

.content-wrapper {
  margin-left: 12rem;
}

@media (max-width: 768px) {
  .sidebar {
    width: 4rem;
  }
  .content-wrapper {
    margin-left: 4rem;
  }
}

.progress-bar {
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 0.5rem;
}

.progress-bar-fill {
  height: 100%;
  background-color: #92d400; /* Deloitte Green */
  border-radius: 4px;
}

